.form-mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 40%;
}

.task-Input {
    width: 400px;
    height: 40px;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans';
    font-style: bold;

}


.createDeleteButton {
    background-color: red;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 52%;
    bottom: 27%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .createDeleteButton:hover {
    background-color: darkred;
    transform: scale(1.05);
  }


.createUserButton {
    background-color: green;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 33%;
    bottom: 27%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.createUserButton:hover {
    background-color: darkgreen;
    transform: scale(1.05);
  }

.recountTask { 
    font-size: 10px;
    font-style: bold;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;
    padding: 6px;
    background-color: blueviolet;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border: solid 1px black;
    margin-bottom: 0px;
    text-align:end

}

body {
    background-color: goldenrod;
}

h1{
    display: grid;
    place-items: center;
    margin-top: 150px;
    margin-left: 60px;
    color: black;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;
}

.container-list {
  background-color: white;
  width: 400px;
  max-height: 200px;
  overflow-y: scroll;
}

.form-list {
    list-style: none;
    padding: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p {
  margin-bottom: 5px;
}


li {
    margin-bottom: 10px;
    color: rgb(118, 119, 120);
    border-bottom: 1px solid #eae7e7;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;
    cursor: pointer;   
}

li:hover,
li:hover button {
  background-color: rgb(210, 212, 155);
}


button {
  display: flex;
  float: right;
  border: none;
  font-size: 15px;
  color: rgb(118, 119, 120);
}

.hideIcon {
  display: none;

}