h1.title {
	text-align: center;
	color: White;
	letter-spacing: 4px;
}
h1.todo-header {
	color: black;
	margin: 0 0 1em 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 400;
}

ul {
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: blueviolet;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	color: black;
}

li:nth-child(2n) {
	background: magenta;
    color: white;
}

li.clicked {
	color: gray;
	text-decoration: line-through;
}

div .todo-wrapper {
    border-radius: 20px;
}

input#addToDo {
	font-size: 18px;
	background: white;
	border: 2px solid magenta;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-box: border-box;
}

input#addToDo:focus {
	background: white;
	outline: none;
	transition: 0.1s;
}

i.fa-trash {
	margin: 0px;
	padding: 0px;
	color: #bb2a2a;
}

span {
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s ease-in;
}

li:hover span {
	opacity: 1;
	width: 40px;
	transition: 0.2s ease-in;
}